<a href="https://colab.research.google.com/github/farhansarguroh/Python/blob/main/pybasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def longest_ones(nums, k):
  pass

nums = [1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0]
k = 2
longest_ones(nums, k)

In [ ]:
#Fibonacci sequenxce
def fib(n):
  a, b = 0, 1
  while a < n:
    print(a, end=',')
    a, b = b, a+b
  print()

In [ ]:
names = ['john', 'merry', 'tom']
for i in names:
  print(i, len(i))

john 4
merry 5
tom 3

In [ ]:
users = {'Hans': 'active', 'Éléonore': 'inactive', '景太郎': 'active'}

for user, status in users.copy().items():
  if status == 'inactive':
    del users[user]

In [ ]:
for user, status in users.items():
  if status == 'active':
    print(user)

Hans
景太郎

In [ ]:
a = ['Mary', 'had', 'a', 'little', 'lamb']

for i in range(len(a)):
  print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [ ]:
#prime number program

def prime_num(x, y):
  for n in range(x, y):
    for i in range(2, n):
      if n % i == 0:
       print(n, 'equals',i , "*", n//i)
       break
    else:
      print(n, "is a prime number")

a = int(input())
b = int(input())
prime_num(a, b)

20
60
20 equals 2 * 10
21 equals 3 * 7
22 equals 2 * 11
23 is a prime number
24 equals 2 * 12
25 equals 5 * 5
26 equals 2 * 13
27 equals 3 * 9
28 equals 2 * 14
29 is a prime number
30 equals 2 * 15
31 is a prime number
32 equals 2 * 16
33 equals 3 * 11
34 equals 2 * 17
35 equals 5 * 7
36 equals 2 * 18
37 is a prime number
38 equals 2 * 19
39 equals 3 * 13
40 equals 2 * 20
41 is a prime number
42 equals 2 * 21
43 is a prime number
44 equals 2 * 22
45 equals 3 * 15
46 equals 2 * 23
47 is a prime number
48 equals 2 * 24
49 equals 7 * 7
50 equals 2 * 25
51 equals 3 * 17
52 equals 2 * 26
53 is a prime number
54 equals 2 * 27
55 equals 5 * 11
56 equals 2 * 28
57 equals 3 * 19
58 equals 2 * 29
59 is a prime number

In [ ]:
#odd even program
for i in range(2,10):
  if i%2 == 0:
    print(i, "is even")
    continue
  print(i, "is odd")

2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

In [ ]:
def http_error(status):
    match status:
        case 400:
            return "Bad request"
        case 404:
            return "Not found"
        case 418:
            return "I'm a teapot"
        case _:
            return "Something's wrong with the internet"

http_error(404)

'Not found'

In [ ]:
def verify_point(a, b):
  point = a, b
  match point:
    case (0, 0):
        print("Origin")
    case (0, y):
        print(f"Y={y}")
    case (x, 0):
        print(f"X={x}")
    case (x, y):
        print(f"X={x}, Y={y}")
    case _:
        raise ValueError("Not a point")

v_pt = verify_point

In [ ]:
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        reply = input(prompt)
        if reply in {'y', 'ye', 'yes'}:
            return True
        if reply in {'n', 'no', 'nop', 'nope'}:
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)

ask_ok("are you ok farhan? \n")

are you ok farhan?
no

False

In [ ]:
squares = list(map(lambda x: x**2, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
vec = [-4, -1, 0, 2, 4]

In [ ]:
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [ ]:
def mysum(my_list):
  total = 0
  for i in my_list:
    total += i
  return total

In [ ]:
def mymax(my_list):
  max = 0
  for i in my_list:
    if i > max:
      max = i
  return max

In [ ]:
def mymin(my_list):
  min = my_list[0]
  for i in my_list:
    if i < min:
      min = i
  return min

In [ ]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [ ]:
table = {'Sjoerd': 4126789012347, 'Jack': 4098, 'Dcab': 7678}
for name, phone in table.items():
    print(f'{name:10} ==> {phone:10d}')

Sjoerd     ==> 4126789012347
Jack       ==>       4098
Dcab       ==>       7678

In [ ]:
import math
print('The value of pi is approximately %5.5f.' % math.pi)

The value of pi is approximately 3.14159.

In [ ]:
number = 17
for x in range (1, number):
        print(x, oct(x))

1 0o1
2 0o2
3 0o3
4 0o4
5 0o5
6 0o6
7 0o7
8 0o10
9 0o11
10 0o12
11 0o13
12 0o14
13 0o15
14 0o16
15 0o17
16 0o20

In [ ]:
def octal(n):
  for i in range(1, n):
    print(i)

In [ ]:
def first_char_capital(s):
    result = ' '.join(word[0].upper() + word[1:] for word in s.split())
    print(result)

In [ ]:
def swap(input_str):
    swapped_chars = []

    for char in input_str:
        if char.isupper():
            swapped_chars.append(char.lower())
        elif char.islower():
            swapped_chars.append(char.upper())
        else:
            swapped_chars.append(char)

    print(''.join(swapped_chars))

In [ ]:
import string

def remove_punctuation(input_string):
    translator = str.maketrans("", "", string.punctuation)
    result = input_string.translate(translator)
    return result

In [ ]:
def merger(input):
  splitted = []
  for i in input:
    splitted.append(len[i])

  return splitted
  pass

In [ ]:
merger('AABCAAADA')

['A', 'A', 'B', 'C', 'A', 'A', 'A', 'D', 'A']

In [ ]:
def x_int_inputs():
  x = list(map(int, input().split()))
  return x

In [ ]:
x = x_int_inputs()
ans = [i for i in x if i == 8]

1 2 3 4 45 5 5 6 8 45

In [ ]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
num_of_sets = int(input())

num_elements_in_set_a = int(input())
elements_a = list(map(int, input().split()))
num_elements_in_set_b = int(input())
elements_b = list(map(int, input().split()))

print(elements_a, elements_b)

2
3
 1
 2
 3
5
 4
 5
 6
 7
 8
{'3', '2', '1'} {'8', '5', '6', '7', '4'}

In [ ]:
num_test_cases = int(input())
outputs = []

for i in range(num_test_cases):
    num_elements_in_set_a = int(input())
    elements_a = set(map(int, input().split()))

    num_elements_in_set_b = int(input())
    elements_b = set(map(int, input().split()))

    if len(elements_a) < len(elements_b):
      if elements_a & elements_b:
        outputs.append("True")
      else:
        outputs.append("False")
    else:
      outputs.append("False")

# Print all the outputs after the loop
for output in outputs:
    print(output)

1
3
1 2 3
2
1 2
False

In [ ]:
elements_a = set(map(int, input().split()))

num_test_cases = int(input())
result = []

for i in range(num_test_cases):
    elements = set(map(int, input().split()))
    if elements_a.issuperset(elements):
      result.append(True)
    else:
      result.append(False)

if False in result:
  print(False)
else:
  print(True)

1 2 3 4 5 6 7
2
1 2 3
4 5 6 7
True

In [ ]:
def top_three(in_str):
    count = {}
    for i in in_str:
        count[i] = count.get(i, 0) + 1
    sorted_items = sorted(count.items(), key=lambda x: (-x[1], x[0]))
    top_three_keys = [item[0] for item in sorted_items[:3]]
    top_three_values = [item[1] for item in sorted_items[:3]]

    # Print the top three keys and values
    for key, value in zip(top_three_keys, top_three_values):
        print(f"{key} {value}")

In [ ]:
def num_squares(n):
    # Initialize a list to store the least number of perfect square numbers required to sum up to each index
    dp = [float('inf')] * (n + 1)
    dp[0] = 0  # Base case

    # Iterate through each number from 1 to n
    for i in range(1, n + 1):
        # Check all perfect square numbers less than or equal to i
        j = 1
        while j * j <= i:
            dp[i] = min(dp[i], dp[i - j * j] + 1)
            j += 1

    return dp[n]

Least number of perfect square numbers that sum to 12 : 3

In [ ]:
def x_str_inputs():
  x = list(map(str, input().split()))
  return x

In [ ]:
def count(input):
  count = {}
  for i in input:
    count[i] = count.get(i, 0) + 1
  print(count)

In [ ]:
def word_order(num):
  strings = []

  for _ in range(num):
    strings.append(input())

  counts = {}

  for string in strings:
    counts[string] = counts.get(string, 0) + 1

  print(len(counts))
  print(" ".join(str(count) for count in counts.values()))

In [ ]:
input_string = input()
output_string = ' '.join(f"({count}, {digit})" for digit, count in  [(int(key), len(list(group))) for key, group in groupby(input_string)])
print(output_string)

1222311
(1, 1) (3, 2) (1, 3) (2, 1)

In [ ]:
from itertools import groupby
input_string = input()
grouped_elements = [((key), len(list(group))) for key, group in groupby(input_string)]
grouped_elements

aabbccddee

[('a', 2), ('b', 2), ('c', 2), ('d', 2), ('e', 2)]

In [ ]:
from itertools import permutations
permutations('aacd', 2)

In [ ]:
def is_palindrome(x):
  if x == x[::-1]:
    return True
  else:
    return False

In [ ]:
is_palindrome([1,2,1])

True

In [ ]:
new_string = s.translate(str.maketrans('', '', string.punctuation))

In [ ]:
def isPalindromestr(s):
  s = ''.join(ch.lower() for ch in s if ch.isalnum())
  left, right = 0, len(s) - 1

  while left < right:
    if s[left] != s[right]:
      return False
    left += 1
    right -= 1

  return True

In [ ]:
x =  "A man, a plan, a canal: Panama"

In [ ]:
isPalindromestr(x)

True

In [ ]:
sample_str = 'abdba'
list1 = []
list2 = []

for i in range(0, len(sample_str)):
    list1.append(sample_str[i])

for i in range(len(sample_str)-1, -1, -1):
    list2.append(sample_str[i])

if list1 == list2:
  print("true")
else:
  print("false")

true

In [ ]:
def sqrt(x):
  for i in range(1, x+1):
    for j in range(1, x+1):
      if i == j and i*j == x:
        print(i)
      elif i != j and i*j ==x:
        print(i, j)

In [ ]:
sqrt(4)

1 4
2
4 1

In [ ]:
#for normal list
def remove_duplicates(x):
    if len(x) == 0:
        return []

    result_list = [x[0]]
    for i in range(1, len(x)):
        if x[i] != x[i - 1]:
            result_list.append(x[i])

    return result_list

In [ ]:
x = [1, 1, 2, 3, 4]
remove_duplicates(x)

[1, 2, 3, 4]

In [ ]:
# for ListNode
# Definition for singly-linked list.
class ListNode(object):
     def __init__(self, val=0, next=None):
         self.val = val
         self.next = next
class Solution(object):
    def deleteDuplicates(self, head):
        """
        :type head: ListNode
        :rtype: ListNode
        """
        if not head:
            return None

        current = head
        while current.next:
            if current.val == current.next.val:
                current.next = current.next.next
            else:
                current = current.next
        return head

In [ ]:
flowerbed = [1,0,0,0,1]
n = 1 # pending

cannot be
can be planted
can be planted
can be planted
cannot be

In [ ]:
!pip install matlab

Collecting matlab
  Downloading matlab-0.1.tar.gz (538 bytes)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: matlab
  Building wheel for matlab (setup.py) ... done
  Created wheel for matlab: filename=matlab-0.1-py3-none-any.whl size=1157 sha256=98df46cbb0b26b609213fb8c47388a63c3dc24653cfe06fc62b47b9cfec42e6f
  Stored in directory: /root/.cache/pip/wheels/d1/d3/76/5314058ee22e7957a18eec0291788462f1df178bb08223bdd2
Successfully built matlab
Installing collected packages: matlab
Successfully installed matlab-0.1

In [ ]:
area = 44

In [ ]:
list_of = [[i, area // i, i - (area // i)] for i in range(1, area + 1) if area % i == 0 and i >= area // i]
min(list_of)[:2]

[37, 1]

In [ ]:
# Define the Solution class
class Solution:
    def construct_the_rect(self, area):
        def mymin(my_list):
            min_val = my_list[0]
            for i in my_list:
                if i < min_val:
                    min_val = i
            return min_val

        list_of = [[i, area // i, i - (area // i)] for i in range(1, area + 1) if area % i == 0 and i >= area // i]
        return mymin(list_of)[:2]

# Example usage:
solution = Solution()  # Create an instance of the Solution class
result = solution.construct_the_rect(122122)
print(result)

[427, 286]

In [ ]:
timeSeries = [1, 4]
duration = 2

In [ ]:
def poison_duration(timeSeries, duration):
    if not timeSeries:
        return 0

    total_duration = duration  # Initialize with the duration of the first poisoning
    for i in range(1, len(timeSeries)):
        total_duration += min(duration, timeSeries[i] - timeSeries[i - 1])

    return total_duration

In [ ]:
poison_duration(timeSeries, duration)

3

In [ ]:
def perfect_num(num):
    if num <= 1:
        return False

    divisor_sum = 1  # Include 1 as a divisor
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            divisor_sum += i
            if i != num // i:  # Ensure not to count the same divisor twice
                divisor_sum += num // i

    return divisor_sum == num

In [ ]:
perfect_num(28)

True

In [ ]:
nums = [1212, 2222, 333, 1212]

In [ ]:
def majorityElement(nums):
    count = {}
    for i in nums:
        count[i] = count.get(i, 0) + 1
    return max(count, key=count.get)

In [ ]:
def majorityElement(nums):
  candidate = None
  count = 0

  for num in nums:
    if count == 0:
      candidate = num
    count += 1 if num == candidate else -1

  return candidate

In [ ]:
majorityElement(nums)

333

In [ ]:
nums1 = [1,2,3,0,0,0]
m = 3
nums2 = [1]
n = 1

In [ ]:
def merge_lists(nums1, m, nums2, n):
  return sorted(nums1[:m] + nums2[:n])

In [ ]:
def merge_lists(nums1, m, nums2, n):
    """
    Merges nums1 and nums2 into nums1 in-place.

    :param nums1: First sorted list with space for merging
    :param m: Number of elements in nums1
    :param nums2: Second sorted list
    :param n: Number of elements in nums2
    :return: None (nums1 is modified in place)
    """
    # Initialize pointers for nums1 and nums2
    p1 = m - 1
    p2 = n - 1
    # Initialize pointer for the end of merged list
    p = m + n - 1

    # Merge nums1 and nums2 from the end
    while p1 >= 0 and p2 >= 0:
        if nums1[p1] > nums2[p2]:
            nums1[p] = nums1[p1]
            p1 -= 1
        else:
            nums1[p] = nums2[p2]
            p2 -= 1
        p -= 1

    # If there are remaining elements in nums2, copy them to nums1
    nums1[:p2 + 1] = nums2[:p2 + 1]

In [ ]:
merge_lists(nums1, m, nums2, n)
print(nums2)

[1]

In [ ]:
nums = [0,1,2,2,3,0,4,2]
val = 2

In [ ]:
def removeElement(nums, val):
  return ([i for i in nums if i!=val])

In [ ]:
removeElement(nums, val)

5

In [ ]:
def removeElement(nums, val):
  new_length = 0

  for num in nums:
    if num != val:
      nums[new_length] = num
      new_length += 1

  return new_length

In [ ]:
nums = [1,1,2]

In [ ]:
def removeDuplicates(nums):
    if not nums:
        return 0

    k = 1  # Initialize the count of unique elements
    for i in range(1, len(nums)):
        if nums[i] != nums[i - 1]:
            nums[k] = nums[i]  # Move the unique element to the front
            k += 1  # Increment the count of unique elements

    return k, nums[:k]

In [ ]:
removeDuplicates([1, 1, 2])

(2, [1, 2])

In [ ]:
def sqrt(x):
  if x == 0 or x == 1:
    return x

  result = 0
  for i in range(1, x):
    if i * i == x:
      result = i
    for j in range(1, 10):
      if round((i + (0.1 * j))*(i + (0.1 * j))) == x:
        result = i
  return result

In [ ]:
def sqrt(x):
    if x == 0 or x == 1:
        return x

    left, right = 1, x
    while left <= right:
        mid = (left + right) // 2
        if mid * mid == x:
            return mid
        elif mid * mid < x:
            left = mid + 1
        else:
            right = mid - 1

    return right

print(sqrt(8))

2

In [ ]:
def maxProfit(prices):
    """
    :type prices: List[int]
    :rtype: int
    """
    if not prices or len(prices)<2:
        return 0

    min_price = prices[0]
    max_profit = 0

    for price in prices[1:]:
        if price < min_price:
            min_price = price
        else:
            max_profit = max(max_profit, price - min_price)

    return max_profit

In [ ]:
def maxavgsubarr(nums, k):
    window_sum = sum(nums[:k])
    max_sum = window_sum

    for i in range(k, len(nums)):
        window_sum += nums[i] - nums[i - k]
        max_sum = max(max_sum, window_sum)

    return max_sum / k

def maxavgsubarr2(nums, k):
  given = [sum(nums[i:i+k])/k for i in range(len(nums)) if len(nums[i:i+k])==k]
  return max(given)

In [ ]:
def pivotIndex(nums):
  if not nums:
    return None
  var = -1
  for i in range(len(nums)):
    if sum(nums[:i]) == sum(nums[i+1:]):
      var = i
  return var

def pivotIndex2(nums):
    total_sum = sum(nums)
    left_sum = 0
    for i, num in enumerate(nums):
        if left_sum == (total_sum - left_sum - num):
            return i
        left_sum += num
    return -1

In [ ]:
def find_needle(haystack, needle):
    hay_length = len(haystack)
    need_length = len(needle)

    for i in range(hay_length - need_length + 1):
        if haystack[i:i + need_length] == needle:
            return i
    return -1

haystack = "hello"
needle = "ll"

2

In [ ]:
strs = ["flower","flow","flight"]

In [ ]:
def largest_substring(strings):
  first_str = strings[0]
  last_str = strings[-1]
  common_substr = []
  for i in range(min(len(first_str), len(last_str))):
    if first_str[i] == last_str[i]:
      common_substr.append(first_str[i])
    else:
      break
  return ''.join(common_substr)

In [ ]:
largest_substring(strs)

'fl'

In [ ]:
s = "axc"
t = "ahbgdc"

In [ ]:
def is_subsequence(s, t):
    s_pointer = 0
    for char in t:
      if s_pointer < len(s) and char == s[s_pointer]:
        s_pointer += 1

    return len(s) == s_pointer

In [ ]:
is_subsequence(s, t)

False

In [ ]:
str1 = "ABABAB"
str2 = "ABAB"

In [ ]:
def example(str1, str2):
    var = len(str2)
    i = 0
    sample = str2
    while i < len(str1):
        if str2 != str1[i:var]:
          sample = ""
          break
        i = var
        var += len(str2)
    return sample

str1 = "ABABAB"
str2 = "ABAB"
print(example(str1, str2))  # Output: AB

In [ ]:
def gcd(str1, str2):
  if str1 + str2 != str2 + str1:
    return ""

  # Calculate the greatest common divisor (GCD) of the lengths of str1 and str2
  length1, length2 = len(str1), len(str2)
  while length2:
      length1, length2 = length2, length1 % length2

  # Return the substring of str1 up to the length of the GCD
  return str1[:length1]

In [ ]:
gcd(str1, str2)

'AB'

In [ ]:
"ABC" + "ABCDEF"

'ABCABCDEF'

PSEUDO:
1. initialize the greatest = greatest
2. candies[i] + extraCandies = sum
3. if sum >= greatest: True else False

In [ ]:
candies = [2,3,5,1,3]
extraCandies = 3


def kidsWithCandies(candies, extraCandies):
    max_candies = max(candies)
    sample_list = [candy + extraCandies >= max_candies for candy in candies]
    return sample_list


kidsWithCandies(candies, extraCandies)

[True, True, True, False, True]

1. pointer_1 starts traversing through the list and finds a vowel then stops,
2. pointer_2 starts traversing through string, find a voowel, stops
3. swap

In [ ]:
s = "hello"

def swapvowels(s):
  vowels = set("aeiouAEIOU")
  s = list(s)
  vowel_indices = [i for i, char in enumerate(s) if char in vowels]
  left, right = 0, len(vowel_indices) - 1

  while left < right:
      s[vowel_indices[left]], s[vowel_indices[right]] = s[vowel_indices[right]], s[vowel_indices[left]]
      left += 1
      right -= 1

  return ''.join(s)

swapvowels(s)

'holle'

In [ ]:
def reverse(s):
  return " ".join(s.split()[::-1])

In [ ]:
from functools import reduce
def productExceptSelf(nums):
  n = len(nums)
  result = [1] * n

  # Calculate prefix products
  prefix_product = 1
  for i in range(n):
      result[i] *= prefix_product
      prefix_product *= nums[i]

  # Calculate suffix products and multiply with prefix products
  suffix_product = 1
  for i in range(n - 1, -1, -1):
      result[i] *= suffix_product
      suffix_product *= nums[i]

  return result

In [ ]:
nums = [1,2,3,4]
k = 5

def maxOperations(nums, k):
  nums.sort()  # Sort the array

  left, right = 0, len(nums) - 1
  count = 0

  while left < right:
    sum = nums[left] + nums[right]

    if sum == k:
      count += 1
      left += 1
      right -= 1
    elif sum < k:
      left += 1
    else:
      right -= 1

  return count

In [ ]:
maxOperations(nums, k)

2

In [ ]:
import pandas as pd

# Create the input DataFrame
data = {
    'Roll No': [1, 1, 2, 2, 1, 2],
    'Subject': ['DS', 'Java', 'DS', 'Java', 'DS', 'Java'],
    'Marks': [25, 40, 30, 26, 40, 50],
    'Date': ['01-01-23', '02-01-23', '01-01-23', '02-01-23', '15-01-23', '15-01-23']
}
df = pd.DataFrame(data)

# Convert Date column to datetime format
df['Date'] = pd.to_datetime(df['Date'])

# Sort the DataFrame by Date in descending order
df.sort_values(by='Date', ascending=False, inplace=True)

# Group by Roll No and Subject
groups = df.groupby(['Roll No', 'Subject'])

# Initialize lists to store output data
roll_nos = []
subjects = []
m1_list = []
m2_list = []
m3_list = []
date_list = []

# Iterate over groups and extract latest three attempts
for (roll_no, subject), group_df in groups:
    marks = group_df['Marks'].tolist()[:3]  # Get the latest three attempts' marks
    marks += [0] * (3 - len(marks))  # Fill missing attempts with 0
    date = group_df.iloc[0]['Date']  # Get the date of the latest attempt

    roll_nos.append(roll_no)
    subjects.append(subject)
    m1_list.append(marks[0])
    m2_list.append(marks[1])
    m3_list.append(marks[2])
    date_list.append(date)

# Create the output DataFrame
output_df = pd.DataFrame({
    'Roll No': roll_nos,
    'Subject': subjects,
    'M1': m1_list,
    'M2': m2_list,
    'M3': m3_list,
    'Date': date_list
})

# Display the output DataFrame
print(output_df)

   Roll No Subject  M1  M2  M3       Date
0        1      DS  40  25   0 2023-01-15
1        1    Java  40   0   0 2023-02-01
2        2      DS  30   0   0 2023-01-01
3        2    Java  26  50   0 2023-02-01

In [ ]:
chars = ["a","b","b","b","b","b","b","b","b","b","b","b","b"]

class Compress:
  def compress1(self, chars):
    compressed = []
    count = 1

    for i in range(1, len(chars)):
        if chars[i] == chars[i - 1]:
            count += 1
        else:
            compressed.append(chars[i - 1])
            if count > 1:
                compressed.extend(list(str(count)))
            count = 1

    compressed.append(chars[-1])
    if count > 1:
        compressed.extend(list(str(count)))

    return compressed

  def compress2(self, chars):
    write_idx = 0  # Index to write compressed characters
    start_idx = 0  # Index to track the start of a group
    count = 1  # Count of consecutive repeating characters

    # Iterate through the characters in the array
    for i in range(1, len(chars)):
        if chars[i] == chars[i - 1]:
            count += 1  # Increment count for consecutive repeating characters
        else:
            chars[write_idx] = chars[start_idx]  # Write the character
            write_idx += 1

            # If count is greater than 1, write its digits
            if count > 1:
                count_str = str(count)
                for digit in count_str:
                    chars[write_idx] = digit
                    write_idx += 1

            start_idx = i  # Update start index for the next group
            count = 1  # Reset count

    # Write the last group
    chars[write_idx] = chars[start_idx]
    write_idx += 1
    if count > 1:
        count_str = str(count)
        for digit in count_str:
            chars[write_idx] = digit
            write_idx += 1

    return write_idx

# Create an instance of the Compress class
compressor = Compress()
# Call the compress1 method on the instance
compressor.compress1(chars)

['a', 'b', '1', '2']

In [ ]:
nums = [0,1,0,3,12]

def moveZeroes(nums):
    count = 0
    for i in range(len(nums)):
        if nums[i] != 0:
          nums[count] = nums[i]
          if count != i:
              nums[i] = 0
          count += 1

moveZeroes(nums)

In [ ]:
import pandas as pd

# Create a dictionary with the given data
data = {
    'city': ['Jacksonville', 'Jacksonville', 'Jacksonville', 'Jacksonville', 'Jacksonville', 'ElPaso', 'ElPaso', 'ElPaso', 'ElPaso', 'ElPaso'],
    'month': ['January', 'February', 'March', 'April', 'May', 'January', 'February', 'March', 'April', 'May'],
    'temperature': [13, 23, 38, 5, 34, 20, 6, 26, 2, 43]
}
# Convert the dictionary to a DataFrame
df = pd.DataFrame(data)

In [ ]:
df.pivot(index='month', columns = 'city', values = 'temperature')

city      ElPaso  Jacksonville
month
April          2             5
February       6            23
January       20            13
March         26            38
May           43            34

In [ ]:
s = "a"
t = "ab"

In [ ]:
s = "anagram"
t = "nagaram"

def isAnagram(s, t):
    if len(s) != len(t):
        return False

    char_count = {}
    for char in s:
        char_count[char] = char_count.get(char, 0) + 1

    for char in t:
        if char not in char_count or char_count[char] == 0:
            return False
        char_count[char] -= 1

    return True
isAnagram(s, t)

In [ ]:
isAnagram(s, t)

False

In [ ]:
class Node:
    def __init__(self, value):
        self.value = value
        self.next = None

class LinkedList:
    def __init__(self):
        self.head = None
        self.length = 0

    def append(self, value):
        new_node = Node(value)
        if not self.head:
            self.head = new_node
        else:
            current = self.head
            while current.next:
                current = current.next
            current.next = new_node
        self.length += 1

    def print_list(self):
        current = self.head
        while current:
            print(current.value, end=" ")
            current = current.next
        print()

    def get_length(self):
        return self.length


# Create the linked list
head = [1, 3, 4, 7, 1, 2, 6]
linked_list = LinkedList()
for value in head:
    linked_list.append(value)

# Print all values in the linked list
linked_list.print_list()

# Get and print the length of the linked list
length = linked_list.get_length()
print("Length of the linked list:", length)

1 3 4 7 1 2 6
Length of the linked list: 7

In [ ]:
def findMaxAverage(nums, k):
    """
    :type nums: List[int]
    :type k: int
    :rtype: float
    """
    window_sum = sum(nums[:k])
    max_sum = window_sum
    for i in range(k, len(nums)):
        window_sum += nums[i] - nums[i - k]
        max_sum = max(max_sum, window_sum)

    return max_sum/k

In [ ]:
nums = [1,12,-5,-6,50,3]
k = 4
findMaxAverage(nums, k)

12.75

In [ ]:
head = [1,3,4,7,1,2,6]

In [ ]:
# Definition for singly-linked list.
class ListNode(object):
  def __init__(self, val=0, next=None):
        self.val = val
        self.next = next
class Solution(object):
    def oddEvenList(self, head):
        """
        :type head: ListNode
        :rtype: ListNode
        """
        curr = head[0]
        while curr.next is not None:
          print(curr)
          curr += 1

In [ ]:
nums = [1,2,3,4,5,6,7]
k = 3
len(nums)

7

In [ ]:
def rotate(nums, k):
  new = []
  index = 0
  last = len(nums) -1
  while k != 0:
    nums[index] = nums[last]
    k -= 1
  return nums

rotate(nums, k)

[7, 7, 7, 4, 5, 6, 7]

In [ ]:
def create_windows_count(s, k):
    vowels = set(['a', 'e', 'i', 'o', 'u'])
    max_window_count = 0
    window_count = 0

    # Calculate initial window count
    for i in range(k):
        if s[i] in vowels:
            window_count += 1

    max_window_count = max(max_window_count, window_count)

    # Slide the window and update counts
    for i in range(1, len(s) - k + 1):
        if s[i - 1] in vowels:
            window_count -= 1
        if s[i + k - 1] in vowels:
            window_count += 1
        max_window_count = max(max_window_count, window_count)

    return max_window_count


s = 'abciiidef'
k = 3
windows_dict = create_windows_count(s, k)
print(windows_dict)

3

In [ ]:
nums1 = [1,2,3]
nums2 = [2,4,6]
def func(nums1, nums2):
  set1 = set(nums1)
  set2 = set(nums2)

  num1 = list(set1 - set2)
  num2 = list(set2 - set1)

  return [num1, num2]
func(nums1, nums2)

[[1, 3], [4, 6]]

In [ ]:
#test case
gain = [-5,1,5,0,-7]

#code implementation
def largestAltitude(gain):
  highest = 0
  sum = 0
  for i in gain:
    sum += i
    if sum > highest:
      highest = sum

  return highest

#execution
largestAltitude(gain)

1

In [ ]:
test_cases = [[1,2], [1,2,2,1,1,3]]

def uniqueOccurrences(arr):
    count = {}
    for i in arr:
        count[i] = count.get(i, 0) + 1

    occurrences_set = set(count.values())
    return len(occurrences_set) == len(count)

def implement_test_cases(test_cases):
  for i in test_cases:
    print("Cuurent test case: ",i)
    print("Output: ", uniqueOccurrences(i))
    print("")

implement_test_cases(test_cases)

Cuurent test case:  [1, 2]
Output:  False

Cuurent test case:  [1, 2, 2, 1, 1, 3]
Output:  True

In [ ]:
x = 2.00000
n = -2

result = round(x ** n, 6)
print(result)

0.25

In [ ]:
flower = [1, 0, 0, 0, 1]
k = 2

def func(flower, k):
    pointer_1 = 0
    pointer_2 = pointer_1 + 1
    while pointer_2 < len(flower):
        if flower[pointer_1] == flower[pointer_2] == 0:
            flower[pointer_1] = 1
            k -= 1
            pointer_2 += 1
        pointer_1 += 1
        pointer_2 += 1

    return k <= 0

result = func(flower, k)
print(result)

False

In [ ]:
1 % 3

1

In [ ]:
def fizzbuzz(n):
  for i in range(1, n+1):
    if i % 3 == 0 and i % 5 == 0:
      print('FizzBuzz')

    elif i % 3 == 0:
      print('Fizz')

    elif i % 5 == 0:
      print('Buzz')

    else:
      print(i)

fizzbuzz(15)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz

In [ ]:
arr = [6, 3, -1, -1, -1, 5, 1]

def prob_1(arr):
    even = []
    odd = []
    main = []
    for i in range(len(arr)):
        if i % 2 == 0:
            even.append(arr[i])
        else:
            odd.append(arr[i])
        main.append([even.copy(), odd.copy()])
    return even, odd, main


prob_1(arr)

([6, -1, -1, 1],
 [3, -1, 5],
 [[[6], []],
  [[6], [3]],
  [[6, -1], [3]],
  [[6, -1], [3, -1]],
  [[6, -1, -1], [3, -1]],
  [[6, -1, -1], [3, -1, 5]],
  [[6, -1, -1, 1], [3, -1, 5]]])

In [ ]:
def prob_1_(arr):
    even = []
    odd = []
    main = []
    for i in range(len(arr)):
        if i % 2 == 0:
            even.append(arr[i])
        else:
            odd.append(arr[i])
        main.append((sum(even) - sum(odd))**2)  # Square of the sum of even and odd
    return even, odd, main
prob_1_(arr)

([6, -1, -1, 1], [3, -1, 5], [36, 9, 4, 9, 4, 9, 4])

In [ ]:
def asteroidCollision(arr):
    stack = []
    for asteroid in arr:
        while stack and asteroid < 0 < stack[-1]:
            if abs(asteroid) > stack[-1]:
                stack.pop()
                continue
            elif abs(asteroid) == stack[-1]:
                stack.pop()
            break
        else:
            stack.append(asteroid)
    return stack

test_cases = [[5, 10, -5], [8, -8], [10, 2, -5]]

def testcases(test_cases):
    for case in test_cases:
        print(asteroidCollision(case))

testcases(test_cases)

[5, 10]
[]
[10]

In [ ]:
s = 'erase*****'

def func(s):
  stack = []
  for i in s:
    if i != '*':
      stack.append(i)
    if i == '*':
      stack.pop()
  return "".join(stack)

func(s)

''

In [ ]:
input = "(()"

def longestValidParenthesis(input):
  stack = []
  for i in input:
    if i == '(':
      stack.append(i)
    if i


longestValidParenthesis(input)

In [ ]:
numbers = [2,7,11,15]
target = 9

def twoSum(numbers, target):
    output = []
    for i in numbers:
        for j in numbers:
            if i != j:
                if numbers[i] + numbers[j] == target:
                    output.append([i, j])


    return output[0]


twoSum(numbers, target)

[0, 1]